
:root {
    --primary : #ff0185;
    --secondary : #091126;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(145deg, var(--secondary),var(--primary));
}

.contact {
    height: 70vh;
    width: 75vw;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    box-shadow: 0 .2rem .5rem #0006;
}

.map, .form {
    width: 50%;
    height: 100%;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.form {
    position:relative;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form::before {
    position:absolute;
    top: 10%;
    left: -2.8rem;
    content:"";
    width: 0;
    height: 0;
    border: 1.4rem solid transparent;
    border-right: 1.4rem solid --var(--secondary);
}

.form h1 {
    color: #fff;
    font: 500 1.8rem italic;
    padding: 0 2rem;
    text-align: center;
    
}

.form form {
    padding: 0 2rem;
}

.form input, .form textarea {
    width: 100%;
    padding: 1rem;
    border: .08rem solid var(--primary);
    border-radius: 2rem;
    background-color: unset;
    color: #fff;
    font-size: 1rem;
}

.form input:not(:first-child), .form textarea, .form button {
    margin-top: .8rem;
}

.form textarea {
    height: 6rem;
    resize: none;
}

.form button {
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    margin-bottom:20px;
    
}

.privacy-policy {
    text-align: center;
    margin-top: auto; /* Align the text to the center */
    color: rgba(255, 255, 255, 0.624);
}

.thank-you-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.6);
    border-radius: 1rem;

}

.thank-you-message {
    color: #ff0185;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.close-button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}
